flows.json
[{"id":"cf58ea4a.6913c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e78747e0.ad0b18","type":"ui_form","z":"cf58ea4a.6913c8","name":"","label":"","group":"905e2fc7.acd17","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null}],"formValue":{"age":"","children":"","bmi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":50,"y":20,"wires":[["de1f3160.3de7e","8a391895.a8fa98"]]},{"id":"726146f9.f60698","type":"ui_dropdown","z":"cf58ea4a.6913c8","name":"","label":"Select Sex","tooltip":"","place":"Select option","group":"905e2fc7.acd17","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"female","value":"female","type":"str"},{"label":"male","value":"male","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":70,"y":140,"wires":[["49eafc2c.00a514"]]},{"id":"41119479.acf4bc","type":"ui_dropdown","z":"cf58ea4a.6913c8","name":"","label":"Are you a smoker","tooltip":"","place":"Select option","group":"905e2fc7.acd17","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":90,"y":240,"wires":[["a6d046ae.49a178"]]},{"id":"bba98311.f6e6f","type":"ui_dropdown","z":"cf58ea4a.6913c8","name":"","label":"Select the Region","tooltip":"","place":"Select option","group":"905e2fc7.acd17","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"southeast","value":"southeast","type":"str"},{"label":"southwest","value":"southwest","type":"str"},{"label":"northeast","value":"northeast","type":"str"},{"label":"northwest","value":"northwest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":90,"y":340,"wires":[["fc9f2bc7.1e91f8"]]},{"id":"de1f3160.3de7e","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":90,"y":100,"wires":[]},{"id":"49eafc2c.00a514","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":200,"wires":[]},{"id":"a6d046ae.49a178","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":300,"wires":[]},{"id":"fc9f2bc7.1e91f8","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":420,"wires":[]},{"id":"8a391895.a8fa98","type":"function","z":"cf58ea4a.6913c8","name":"global variables for form node","func":"global.set(\"age\",msg.payload.age) \nglobal.set(\"children\",msg.payload.children) \nglobal.set(\"bmi\",msg.payload.bmi) \nvar apikey=\"YVNd3Bu9M3wmO0hha_34SCxJhy31fC0kfjPRVbzdnS47\" \nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"} \nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":20,"wires":[["1e776ef5.650981"]]},{"id":"a807f2c.64d321","type":"function","z":"cf58ea4a.6913c8","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[[]]},{"id":"d5f3b3c5.2cc81","type":"function","z":"cf58ea4a.6913c8","name":"smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[[]]},{"id":"12b2799c.710376","type":"function","z":"cf58ea4a.6913c8","name":"region","func":"global.set(\"region\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":340,"wires":[[]]},{"id":"1e776ef5.650981","type":"http request","z":"cf58ea4a.6913c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":60,"wires":[["360ff0f7.bb34","26a84d08.347cd2"]]},{"id":"360ff0f7.bb34","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"26a84d08.347cd2","type":"function","z":"cf58ea4a.6913c8","name":"pre_prediction","func":"var age = global.get(\"age\") \nvar sex = global.get(\"sex\") \nvar bmi = global.get(\"bmi\") \nvar children = global.get(\"children\") \nvar smoker = global.get(\"smoker\") \nvar region = global.get(\"region\") \nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["b58d5360.367fe"]]},{"id":"b58d5360.367fe","type":"http request","z":"cf58ea4a.6913c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/c6830b2a-a3be-4917-9b73-6abea9b4fc92/predictions?version=2021-07-05","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":140,"wires":[["3930039a.ad3fdc"]]},{"id":"3930039a.ad3fdc","type":"debug","z":"cf58ea4a.6913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"905e2fc7.acd17","type":"ui_group","name":"enter the vakues","tab":"f6e8c617.386198","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6e8c617.386198","type":"ui_tab","name":"insurence_prediction","icon":"dashboard","disabled":false,"hidden":false}]